body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.top-container {
  background-color: #08d9d6;
}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: #ff2e63;
}

.bottom-container {
  height: 200px;
  width: 200px;
  background-color: #252a34;
}
